@font-face {
  font-family: JetBrains Mono;
  src: url(./JetBrainsMono-ExtraLight.woff2);
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: JetBrains Mono;
  src: url(./JetBrainsMono-ExtraLight.woff2);
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: JetBrains Mono;
  src: url(./JetBrainsMono-Light.woff2);
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: JetBrains Mono;
  src: url(./JetBrainsMono-Regular.woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: JetBrains Mono;
  src: url(./JetBrainsMono-Medium.woff2);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: JetBrains Mono;
  src: url(./JetBrainsMono-Bold.woff2);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: JetBrains Mono;
  src: url(./JetBrainsMono-ExtraBold.woff2);
  font-weight: 800;
  font-display: swap;
}
