.profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 40px;
}

.name {
  font-size: 32px;
  font-weight: 800;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}
