@import url(../../styles/normalize.css);
@import url(../../styles/base.css);

.layout {
  max-width: 960px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 48px;
  box-sizing: border-box;

  /* flexbox */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
